<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cardType(); as cardTypeRef) {
      <div>
        <h2 data-cy="cardTypeDetailsHeading"><span stpTranslate="simulatorApp.cardType.detail.title">Card Type</span></h2>

        <hr />

        <stp-alert-error></stp-alert-error>

        <stp-alert></stp-alert>

        <dl class="row-md jh-entity-details">
          <dt><span stpTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ cardTypeRef.id }}</span>
          </dd>
          <dt><span stpTranslate="simulatorApp.cardType.name">Name</span></dt>
          <dd>
            <span>{{ cardTypeRef.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span stpTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/card-type', cardTypeRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span stpTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
