<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (merchant(); as merchantRef) {
      <div>
        <h2 data-cy="merchantDetailsHeading"><span stpTranslate="simulatorApp.merchant.detail.title">Merchant</span></h2>

        <hr />

        <stp-alert-error></stp-alert-error>

        <stp-alert></stp-alert>

        <dl class="row-md jh-entity-details">
          <dt><span stpTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ merchantRef.id }}</span>
          </dd>
          <dt><span stpTranslate="simulatorApp.merchant.name">Name</span></dt>
          <dd>
            <span>{{ merchantRef.name }}</span>
          </dd>
          <dt><span stpTranslate="simulatorApp.merchant.mcc">Mcc</span></dt>
          <dd>
            <span>{{ merchantRef.mcc }}</span>
          </dd>
          <dt><span stpTranslate="simulatorApp.merchant.postalCode">Postal Code</span></dt>
          <dd>
            <span>{{ merchantRef.postalCode }}</span>
          </dd>
          <dt><span stpTranslate="simulatorApp.merchant.website">Website</span></dt>
          <dd>
            <span>{{ merchantRef.website }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span stpTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/merchant', merchantRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span stpTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
