<div>
  <h2 id="page-heading" data-cy="MessageTypeIndicatorHeading">
    <span stpTranslate="simulatorApp.messageTypeIndicator.home.title">Message Type Indicators</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span stpTranslate="simulatorApp.messageTypeIndicator.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-message-type-indicator"
        [routerLink]="['/message-type-indicator/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span stpTranslate="simulatorApp.messageTypeIndicator.home.createLabel">Crear nuevo Message Type Indicator</span>
      </button>
    </div>
  </h2>

  <stp-alert-error></stp-alert-error>

  <stp-alert></stp-alert>

  <stp-filter [filters]="filters"></stp-filter>

  @if (messageTypeIndicators?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span stpTranslate="simulatorApp.messageTypeIndicator.home.notFound">Ningún Message Type Indicators encontrado</span>
    </div>
  }

  @if (messageTypeIndicators && messageTypeIndicators.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr stpSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" stpSortBy="id">
              <div class="d-flex">
                <span stpTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" stpSortBy="name">
              <div class="d-flex">
                <span stpTranslate="simulatorApp.messageTypeIndicator.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" stpSortBy="code">
              <div class="d-flex">
                <span stpTranslate="simulatorApp.messageTypeIndicator.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (messageTypeIndicator of messageTypeIndicators; track trackId(messageTypeIndicator)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/message-type-indicator', messageTypeIndicator.id, 'view']">{{ messageTypeIndicator.id }}</a>
              </td>
              <td>{{ messageTypeIndicator.name }}</td>
              <td>{{ messageTypeIndicator.code }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/message-iso-config']"
                    [queryParams]="{ 'filter[messageTypeIndicatorId.in]': messageTypeIndicator.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      stpTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('simulatorApp.messageTypeIndicator.messageIsoConfig' | translate) }"
                      >Show Message Iso Config</span
                    >
                  </button>
                  <a
                    [routerLink]="['/message-type-indicator', messageTypeIndicator.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" stpTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/message-type-indicator', messageTypeIndicator.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" stpTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(messageTypeIndicator)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" stpTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (messageTypeIndicators && messageTypeIndicators.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <stp-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></stp-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
